@font-face {
    font-family: 'Oleo';
    src: url('oleo.ttf');
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 960px;
}

.head {
    height: 60px;
    padding: 15px 0px;
    background-color: #33aaff;
    width: 100%;
}

.site-name {
    color: white;
    display: inline;
    font-size: 25px;
    font-family: Oleo;
}

nav {
    display: inline-block;
    font-size: 18px;
    padding-top: 7px;
}

nav a {
    color: white;
    padding: 15px 10px;
}
nav a:hover {
    background: #33bbff;
    color: whitesmoke;
}
